<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutChangesToGlobalState="true"
         verbose="true"
        >
    <testsuites>
        <testsuite name="AppBundleTests">
            <directory>./src/AppBundle/Tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="reports/coverage"/>
    </logging>
    <php>
        <server name="KERNEL_DIR" value="./app" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>


</phpunit>
